{% macro render_blog_post(post, from_index=false) %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                        {% if from_index %}
                            <a href="{{ post|url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.subtitle }}
                            </h3>
                            </a>
                                <p class="post-meta">Posted by {{ post.author }} on {{ post.pub_date }}</p>
                                <hr>
                            {% else %}
                            {{ post.body }}
                            <div class="comments">{{ render_disqus_comments() }}</div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
