{% macro render_pagination(pagination) %}
    {% if pagination.has_prev %}
        <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="{{ pagination.prev|url }}">&larr; Newer Posts</a>
                </li>
            </ul>
    {% endif %}
    <!--| {{ pagination.page }} | -->
    {% if pagination.has_next %}
        <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="{{ pagination.next|url }}">Older Posts &rarr;</a>
                </li>
            </ul>
    {% endif %}
{% endmacro %}
