{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block heading %}{{ this.heading }}{% endblock %}
{% block subheading %}{{ this.subheading }}{% endblock %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block body %}
  {% for child in this.pagination.items %}
        {% if child.published %}
            {{ render_blog_post(child, from_index=true) }}
        {% endif %}
  {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ render_pagination(this.pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
